<nz-card (mouseenter)='showApprovalButtons = true' (mouseleave)='showApprovalButtons = false'
         [nzBodyStyle]="{'padding-bottom': '10px'}" [nzCover]='coverTemplate' [nzHoverable]='false'
         class='my-4' style='width:80%; min-height: 450px;'>
  <nz-card-meta [nzDescription]='descriptionTemplate' [nzTitle]="post.user.name || 'username1234'"></nz-card-meta>
</nz-card>

<ng-template #coverTemplate>
  <img (click)='imagePreview(post.preview)' [nzFallback]='fallbackImage' [nzSrc]='post?.preview' alt='post-image' nz-image />
</ng-template>

<ng-template #descriptionTemplate>
  <p>{{post.text || 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pretium lacus et lectus ultricies, eu egestas tellus elementum. Integer at mi sit amet tortor dictum vehicula. ' | nzEllipsis: 140:'...'}}</p>
  <div *ngIf="disableApprovalButtons && showApprovalButtons" class='d-flex justify-content-around'>
    <ng-container *ngIf='approveButtonType === ApproveButtonType.ICON; then iconApproveButtons else textApproveButtons'></ng-container>
  </div>
  <p class="text-center" *ngIf="!disableApprovalButtons">Approval Submitted</p>
</ng-template>

<ng-template #textApproveButtons>
  <button (click)='showConfirm(post.id, ApprovalEnum.DECLINED)' nz-button nzDanger nzType='primary'>
    Decline
  </button>

  <button (click)='showConfirm(post.id, ApprovalEnum.APPROVED)' nz-button nzGhost nzType='primary'>
    Approve
  </button>
</ng-template>

<ng-template #iconApproveButtons>
  <button nz-button nzShape='circle' nzSize='large' nzType='danger'>
    <i nz-icon nzTheme='outline' nzType='close'></i>
  </button>

  <button nz-button nzShape='circle' nzSize='large' nzType='primary' style='background-color: green'>
    <i nz-icon nzTheme='outline' nzType='check'></i>
  </button>
</ng-template>
