[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}

nz-button-group [nz-button] {
  margin-right: 0;
}

::ng-deep .ant-card-meta-description {
  display: flex !important;
  flex-direction: column !important;
  height: 200px !important;
  justify-content: space-between !important;
}
